
.jumbotron {
  padding: 30px 15px;
    width: auto;

  margin-top: 250px;
  color: inherit;
  background-color: rgb(117,60,69);
    background-color: rgba(117, 60, 69, 0.3);
  text-align: left;
  background-size: cover;
    img: float-right;
  /*background-image: url("http://www.online-image-editor.com//styles/2014/images/example_image.png")*/
}


